<h2>Добавить заметку</h2>

<form #noteForm="ngForm" (ngSubmit)="addNote(noteForm)"> <!-- ngForm - позволит передать все из формы + проверки, ngSubmit(обработчик события) - при отправке данных из формы вызываем функцию addNote и в нее будем передавать noteForm -->
    <div>
        <label>Заголовок</label><br>
        <input type="text" name="title" [(ngModel)]="newNote().title" required minlength="3" maxlength="50" #titleRef="ngModel" placeholder="Заголовок"><br> <!--  Вводим переменную через ngModel -->
        <div *ngIf="submitted && titleRef.invalid" style="color: red;">
        @if(titleRef.errors?.['required']) { <small> Заголовок обязателен </small> }
        @if(titleRef.errors?.['minlength']) { <small> Заголовок минимум 3 символа </small> }
        @if(titleRef.errors?.['maxlength']) { <small> Заголовок максимум 50 символов </small>}
        </div>
    </div>

    <div>
        <label>Содержимое</label><br>
        <textarea name="content" [(ngModel)]="newNote().content" placeholder="Текст" required minlength="5" #contentRef="ngModel"></textarea><br>
        <div *ngIf="submitted && contentRef.invalid" style="color: red;">
        <small *ngIf="contentRef.errors?.['required']">Содержимое обязательно</small>
        <small *ngIf="contentRef.errors?.['minlength']">Содержимое минимум 5 символа</small>
        </div>
    </div>
    <button type="submit">Добавить</button>
</form>

<div></div>


